
@{
}
@model CourseViewModel


<div class="row">
    <div class="col-md-8">
        <div class="card">
            <img src="@Model.StockPictureUrl" class="card-img img-fluid mh-50" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">@Model.Name</h3> 
                <p class="card-text text-secondary my-4">@Model.Description</p>
                <h4 class="card-title">Fiyatı : @Model.Price TL</h4>
                <a asp-controller="Basket" asp-action="AddBasketItem" asp-route-courseId="@Model.Id" class="btn btn-primary d-block">Sepete Ekle</a>
            </div>
        </div>
    </div>
</div>
