@{
    ViewData["Title"] = "Home Page";
}
@model List<CourseViewModel>


    <h2 class="my-3">Kurslar</h2>

@if (Model.Any())
{
    <div class="row offset-2">
    @foreach(var course in Model)
    {
        <div class="col-sm-4 col-md-4 col-4">
            <div class="card mb-3">
                    <img src="@course.StockPictureUrl" class="card-img-top img-fluid" style="height:256px;">
                <div class="card-body">
                    <h5 class="card-title mb-3">@course.Name</h5>
                        <hr>
                        <div class="text-dark d-block fw-bolder mb-3"><a href="#">@course.Category.Name</a> Kategorisinde</div>
                        <div class="card-text d-block">
                            <p>@course.ShortDescription</p>
                        </div>
                        <h6 class="text-primary">@course.Price TL</h6>
                        <div class="col"><a asp-controller="Home" asp-action="Detail" asp-route-id="@course.Id" class="btn btn-primary d-block btn-sm">Bilgi</a></div>
                   
                </div>
            </div>
        </div>
    }
    </div>
}
else
{
 <div class="text-center text-danger">
        Kurs bulunamadı.
</div>
}


