@{
    ViewData["Title"] = "Home Page";
}
@model List<CourseViewModel>


    <h2 class="my-3">Kurslar</h2>

@if (Model.Any())
{
    <div class="row offset-2">
    @foreach(var course in Model)
    {
        <div class="col-sm-4 col-md-4 col-4">
            <div class="card mb-3">
                    <img src="@course.StockPictureUrl" class="card-img-top img-fluid" style="height:256px;">
                <div class="card-body">
                    <h5 class="card-title mb-3">@course.Name</h5>
                    <hr>
                        <p class="card-text"> @course.ShortDescription</p>
                        <div class="row my-3">
                            <div class="col d-block text-center align-middle">@course.Feature.Duration Saat</div>
                            <div class="col d-block text-center align-middle">@course.Category.Name</div>
                        </div>
                        <div class="row">
                            <div class="col d-block text-center align-middle">@course.Price TL</div>
                            <div class="col"><a asp-controller="Home" asp-action="Detail" asp-route-id="@course.Id" class="btn btn-primary d-block">Bilgi</a></div>
                    </div>
                </div>
            </div>
        </div>
    }
    </div>
}
else
{
 <div class="text-center text-danger">
        Kurs bulunamadı.
</div>
}


